
    	
    	html{
    		background-color: white;
    	}

    	body{
    		margin:20px;
    		background-color:coral;
    		border: 2px solid white;
    		-moz-box-shadow:    inset 0 0 10px #000000;
   			-webkit-box-shadow: inset 0 0 10px #000000;
   			box-shadow:         inset 0 0 10px #000000;
    		font: 2em Arial;
    		color: #333333;
    		text-align: center;

    	}

    	h1{
    		text-shadow: 2px 2px 5px white;
    	}
    

    	.button{
    		  width: 198px;
    		  text-decoration: none;
			  background-color: cyan;
			  padding: 2px 6px 2px 6px;
			  border-top: 1px solid #CCCCCC;
			  border-right: 2px solid #333333;
			  border-bottom: 2px solid #333333;
			  border-left: 1px solid #CCCCCC;
			  -moz-box-shadow:    inset 0 0 10px #000000;
   			  -webkit-box-shadow: inset 0 0 10px #000000;
   			  box-shadow:         inset 0 0 10px #000000;
			 
		}
		ol{
			list-style: none;
			padding-left: 0;
			
		}
		 li{
		 	margin: 5px;
		 	display: inline-flex; 	


		 }

    