
    	body {
    		width: 80%;
    		margin-left: 10%;
    		text-align: center;
    	}
    	header{
    		background: url(searedTuna.JPG) fixed center;
    		padding-bottom:10px;  
    	}
    
    	#tuna {
    		max-width: 600px;
    	}

    	#logo {
    		width: 200px;
    		float: left;
    	}
    	#vela {
    		max-width: 200px;
    		
    	}
    	h1 {
    		text-align: center;
    		font-size: 3em;
    		font-family:  Brush Script MT, Brush Script Std, cursive;
    		font-weight: bolder;
    		color:#882222;
    		text-shadow: 2px 2px black;
				
    		
    	}
    	 #h1chef{
    	 	display: inline-flex;
    	 }
    	 #bio {
    	 	padding: 20px 60px 20px 20px;
    	 }
    	 .grid {
    		display: grid;
    		border: 6px solid black; 
    		padding: 0;
    	}
    	
    	#info {
    		background-color: #882222;
    		color: white;
    		padding-bottom: 10px;
    		padding-top: 10px;
    	}
    	#info, #bio {
    		font-size: 1.2em;

    	}

    	ul {
    		clear: both;
    		margin-bottom: 0;
    		padding-left: 0
    		 
    	}
    	li {
    		list-style-type: none;
    		display: inline-block;
    		/*font-size: 1.5em;*/
    		border: solid 1px black;
    		border-radius: 10%;
    		background-color: #882222;
    		width: 175px;
    		height: 40px;
    		line-height: 40px;
    		/*color: white;*/
    		font-weight: bold;
    	}
    	.nav {
    		text-decoration: none;
    		color: white;
    	}
    	#bake {
    		color: yellow;
    		text-decoration: underline;

    	}
    	a:hover {
    		font-size: 1.5em;
    	}
    	#menus {
    		display: block;
    		text-align: center;
    		margin-bottom: 0;
    		

    		
    	}
    	#currentmenu {
    		background-color: #882222;
    		color: white;
    		border: 1px solid #882222;
    		border-radius: 45%;
    		/*margin:5px 0;*/
    		width:66%;
    		margin-left: 16%;
    	}
    	 .large {
    	 	font-size: 2em;
    	 }

    	 figure {
    	 	text-align: center;
    	 }
    	 figcaption {
    	 	border: 2px solid #882222;
    	 	width: 60%; 
    	 	margin-left: 20%;
    	 }

    

    	@media only all and (max-width: 600px) {
  /* For mobile phones: */


    * {
            display: block; 
           /* margin: 0;
            padding: 0;
            border: 0;*/
                     
  
}

}

 